main {
    padding-top: 180px; 
    padding-bottom: 380px; 
    height: 100vh; 
    position: relative; 
    padding: 30px 15px; 
    color: #cdbfe3; 
    text-align: center; 
    text-shadow: 0 1px 0 rgba(0,0,0,.1); 
    background-color: #6f5499;
}